:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  /**/
  /* color-scheme: light dark; */
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #f5f5f5; */
  /**/
  /* font-synthesis: none; */
  /* text-rendering: optimizeLegibility; */
  /* -webkit-font-smoothing: antialiased; */
  /* -moz-osx-font-smoothing: grayscale; */
  --slate-50: rgb(248 250 252);
  --slate-100: rgb(241 245 249);
  --slate-200: rgb(226 232 240);
  --slate-300: rgb(203 213 225);
  --slate-400: rgb(148 163 184);
  --slate-500: rgb(100 116 139);
  --slate-600: rgb(71 85 105);
  --slate-700: rgb(51 65 85);
  --slate-800: rgb(30 41 59);
  --slate-900: rgb(15 23 42);
  --slate-950: rgb(2 6 23);
}

/* a { */
/*   font-weight: 500; */
/*   color: #646cff; */
/*   text-decoration: inherit; */
/* } */
/* a:hover { */
/*   color: #535bf2; */
/* } */

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  width: 100vw;
  height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* .logo { */
/*   height: 6em; */
/*   padding: 1.5em; */
/*   will-change: filter; */
/*   transition: filter 300ms; */
/* } */
/* .logo:hover { */
/*   filter: drop-shadow(0 0 2em #646cffaa); */
/* } */
/* .logo.vanilla:hover { */
/*   filter: drop-shadow(0 0 2em #f7df1eaa); */
/* } */
/**/
/* .card { */
/*   padding: 2em; */
/* } */
/**/
/* .read-the-docs { */
/*   color: #888; */
/* } */

button {
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--slate-500);
  cursor: pointer;
  transition: box-shadow 100ms ease-in-out;
  color: var(--slate-100);
  margin: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-width: 0px;
}
button:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

select {
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--slate-500);
  cursor: pointer;
  transition: box-shadow 100ms ease-in-out;
  color: var(--slate-100);
  margin: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-width: 0px;
}
select:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
/* @media (prefers-color-scheme: light) { */
/*   :root { */
/*     color: #213547; */
/*     background-color: #ffffff; */
/*   } */
/*   a:hover { */
/*     color: #747bff; */
/*   } */
/*   button { */
/*     background-color: #f9f9f9; */
/*   } */
/* } */

.navbar {
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: var(--slate-500);
  width: 100%;
  height: 50px;
  max-height: 50px;
  padding: 6px;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  color: var(--slate-200);
}

.navbar .title {
  font-size: 30px;
  font-weight: 600;
  padding: 20px;
  box-sizing: border-box; /* stop overflow when there is padding and/or margin */
  display: flex;
  justify-content: center;
  align-items: center;
}

.topbar {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--slate-500);
  width: 100%;
  height: 50px;
  max-height: 50px;
  padding: 6px;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  color: var(--slate-200);
}

.topbar .item {
  display: flex;
  justify-items: center;
  align-items: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box; /* stop overflow when there is padding and/or margin */
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.topbar .item.middle {
  max-width: max-content;
}

.topbar .item.right {
  justify-content: end;
}

.topbar .item .name {
  font-size: 15px;
  font-weight: 300;
  padding: 12px;
  justify-self: start;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.topbar .item .pagenum {
  font-size: 15px;
  font-weight: 300;
  padding: 6px;
  padding-left: 12px;
  padding-right: 12px;
  box-shadow: inset rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 8px;
  background-color: rgb(from var(--slate-600) r g b / 0.25);
  justify-self: center;
  width: max-content;
}

.topbar .item .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 25px;
  font-weight: bold;
  padding-top: 3px;
  justify-self: end;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box; /* stop overflow when there is padding and/or margin */
}

#upload {
  display: none;
}

#uploadBtn {
  font-size: 20px;
  font-weight: bold;
  padding-top: 3px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#pdf-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: scale(0);
  transition: transform 200ms ease-in-out;
  width: 100vw;
  height: 100vh;
  display: none;
  z-index: 10;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  overflow: scroll;
}

#pdf-modal.active {
  display: flex;
  transform: scale(1);
}

#overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 200ms ease-in-out;
  background-color: rgb(from var(--slate-700) r g b / 0.25);
  width: 100vw;
  height: 100vh;
  z-index: 1;
  display: none;
  opacity: 0;
}

#overlay.active {
  display: flex;
  opacity: 1;
}

#pdf-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
  min-width: max-content;
  min-height: max-content;
  overflow: scroll;
}

canvas {
  width: max-content;
  height: max-content;
}

.toolbar {
  display: flex;
  width: 100%;
  height: 50px;
  justify-content: end;
  align-items: center;
}

#dashboard {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  color: var(--slate-600);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  gap: 5px;
  position: relative;
}

#dashboard .file {
  cursor: pointer;
  font-weight: 400;
  font-size: 16px;
  border-radius: 8px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  padding: 10px;
  width: 100%;
  display: flex;
  justify-self: start;
  box-sizing: border-box;
}

#dashboard .file:hover {
  box-shadow: inset rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

#control-panel {
  position: absolute;
  bottom: 10px;
  background-color: rgb(from var(--slate-700) r g b / 0.5);
  border-radius: 8px;
  padding: 0;
  padding-left: 10px;
  padding-right: 10px;
  justify-content: space-between;
  display: flex;
  gap: 20px;
}

.pdf-nav-button {
  margin: 6px;
  padding: 4px;
  background-color: rgb(from var(--slate-500) r g b / 0.1);
  color: var(--slate-300);
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-size {
  width: 1.5rem; /* 24px */
  height: 1.5rem;
  padding: 0;
}
